<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
</head>
<body>
    <h2>Heart Disease Prediction</h2>

    <form action="/predict" method="post">
        Age: <input type="text" name="age"><br>
        Sex (0/1): <input type="text" name="sex"><br>
        Chest Pain Type (0-3): <input type="text" name="chest_pain"><br>
        Resting BP: <input type="text" name="rest_bp"><br>
        Cholesterol: <input type="text" name="chol"><br>
        Fasting Blood Sugar (0/1): <input type="text" name="fbs"><br>
        Rest ECG (0-2): <input type="text" name="rest_ecg"><br>
        Max HR: <input type="text" name="max_hr"><br>
        Exercise Angina (0/1): <input type="text" name="ex_ang"><br>
        Oldpeak: <input type="text" name="oldpeak"><br>
        ST Slope (0-2): <input type="text" name="st_slope"><br>

        <input type="submit" value="Predict">
    </form>

    <h3>{{ prediction_text }}</h3>
</body>
</html>